{% extends 'base.html' %}

{% block conteudo %}
<div class="container mt-5">
    <br />
    <br/>
    <h1 class="text-center">Editar Peça</h1>
    <hr />
    <!-- <a href="{{url_for('add_servico')}}" class="btn btn-secondary"
      >servicos</a -->
    
    <br />
    <form method="POST" action="{{ url_for('editar_peca', id=peca.id) }}">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ peca.nome }}" required>
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="tipo" name="tipo" value="{{ peca.tipo }}" required>
        </div>
        <div class="mb-3">
            <label for="quantidade" class="form-label">Quantidade</label>
            <input type="number" class="form-control" id="quantidade" name="quantidade" value="{{ peca.quantidade }}" required>
        </div>
        <div class="mb-3">
            <label for="preco" class="form-label">Preço</label>
            <input type="number" step="0.01" class="form-control" id="preco" name="preco" value="{{ peca.preco }}" required>
        </div>
        <button type="submit" class="btn btn-outline-light">Salvar</button>
    </form>
</div>
{% endblock conteudo %}
